@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "SFPRO";
  src: url("/fonts/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
}
@font-face {
  font-family: 'GTApline';
  src: url("/fonts/gt-apline.otf") format("opentype");
}

@font-face {
  font-family: 'Capraia';
  src: url("/fonts/capraia-book-italic.otf") format("opentype");
}

@font-face {
  font-family: 'Inter';
  src: url("/fonts/inter_font.tff") format("truetype");
}

@font-face {
  font-family: 'SFPRO Bold';
  src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}

@font-face {
  font-family: 'Horizon';
  src: url("/fonts/newhorizon.otf") format("opentype");
}

@font-face {
  font-family: 'Helvetica';
  src: url("/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: 'NB-International';
  src: url("/fonts/NB-International-Pro-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'NB-International-Bold';
  src: url("/fonts/NBInternationalPro-Bold.otf") format("opentype");
}



.sf-pro {
  font-family: "SFPRO";
}

.inter {
  font-family: "Inter";
}


.horizon {
  font-family: "Horizon";
}

.sf-bold {
  font-family: "SFPRO Bold";
}

.helvetica {
  font-family: "SFPRO Bold";
}

.international {
  font-family: "NB-International";
}

.international-bold {
  font-family: "NB-International";
}



.gt-alpine{
  font-family: "GTApline";
}

.capraia{
  font-family: "Capraia";
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  overflow: scroll; 
  scrollbar-width: none; 
  display: none; 
}

::-webkit-scrollbar-thumb {
  overflow: scroll; 
  scrollbar-width: none;
  display: none; 
}

