@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  width: 100%;
}

@font-face {
  font-family: "SFPRO";
  src: url("/fonts/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
}
@font-face {
  font-family: 'GTApline';
  src: url("/fonts/gt-apline.otf") format("opentype");
}

@font-face {
  font-family: 'Capraia';
  src: url("/fonts/capraia-book-italic.otf") format("opentype");
}

@font-face {
  font-family: 'Inter';
  src: url("/fonts/inter_font.tff") format("truetype");
}

@font-face {
  font-family: 'SFPRO Bold';
  src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}

@font-face {
  font-family: 'Horizon';
  src: url("/fonts/newhorizon.otf") format("opentype");
}

@font-face {
  font-family: 'Helvetica';
  src: url("/fonts/Helvetica.ttf") format("truetype");
}



.sf-pro {
  font-family: "SFPRO";
}

.inter {
  font-family: "Inter";
}


.horizon {
  font-family: "Horizon";
}

.sf-bold {
  font-family: "SFPRO Bold";
}

.helvetica {
  font-family: "SFPRO Bold";
}



.gt-alpine{
  font-family: "GTApline";
}

.capraia{
  font-family: "Capraia";
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 3px; /* Width of the vertical scrollbar */
  height: 1px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.8); /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 150, 150, 0.9); /* Handle color on hover */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Make the scrollbar track transparent */
}



.headline-orange {
  line-height: 80%;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: auto;
  overflow: hidden;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    120deg,
    #0d0b38,
    #3e3690,
    #e1e1e1,
    #aaa3ff,
    #0d0b38,
    #cdcbe1,
    #545358
  );
  background-size: 400% 400%;
  animation: backgroundChange 8s linear infinite;
  display: inline;
  font-size: inherit;
}

.highlighted-text {
  @apply tracking-widest;
}

.highlighted-text {
  color: #e6e6e6; /* Ensure the color matches the parent div */
  text-shadow: 0 0 5px #e6e6e6, 0 0 10px #e6e6e6, 0 0 20px #e6e6e6, 0 0 30px #e6e6e6;
}